@inherits LayoutComponentBase
<div class="w-full h-screen">
    <header class="w-full h-16 bg-primary flex justify-between items-center px-4 py-2 shadow">
        <img src="/media/logo_covadis.png" class="h-full" />
    </header>

    <main class="w-full h-[calc(100vh-4rem)]">
        @Body
    </main>
</div>
